:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--off-white);
  transition: all 0.3s;
}
main{
  width: 100%;
  max-width: 80%;
}
li{
  list-style: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.nav_items{
  display: flex;
  gap: 2rem;
}
.nav_items li{
  color: var(--dark-grayish-blue);
  cursor: pointer;
}
.nav_items li:hover{
  color: var(--soft-orange);
}
.menu{
  cursor: pointer;
  display: none;
}
.mobile_menu{
  display: none;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landing_section_container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}


picture{
  display: inline-block;
}

.home__description{
  display: flex;
  padding-top: 1rem;
}
.home__description h1{
  font-size: 3rem;
  font-weight: 900;
  width: 50%;
}
.home_content_button{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  gap: 1rem;
}

.home_content_button p{
  color: var(--dark-grayish-blue);
  line-height: 1.6;
}
.home_content_button button{
  background: var(--soft-red);
  border: none;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}
.home_content_button button:hover{
  background: var(--soft-orange);
}
aside{
  background: var(--very-dark-blue);
}

aside h2{
  font-size: 1.8rem;
  color: var(--soft-orange);
  padding: 1rem;
  font-weight: 700;
}
aside ul li{
  padding: 1rem;
  border-bottom: 1px solid var(--dark-grayish-blue);
}
aside ul li:last-child{
  border-bottom: none;
}
aside ul li h3{
  color: var(--off-white);
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}
aside ul li h3:hover{
  color: var(--soft-orange);
}

aside ul li p{
  color: var(--grayish-blue);
  font-size: 0.9rem;
  line-height: 1.5;
}

.article_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 4rem 0;
}
.news_card{
  display: flex;
  justify-content: space-between;
}
.thumbnail{
  width: 32%;
}
.card_description{
  padding: 1rem;
  width: 64%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.card_description h2{
  color: var(--soft-red);
}
.card_description h3{
  font-size: 0.8rem;
}

.card_description p{
  font-size: 0.6rem;
  color: var(--dark-grayish-blue);
}

@media screen and (max-width: 768px){
  .nav_items{
    display: none;
  }
  .menu{
    display: block;
  }
  .landing_section_container{
    grid-template-columns: 1fr;
  }

  .home__description{
    flex-direction: column;
    gap: 0.8rem;
  }
  .home__description h1{
    width: 100%;
  }
  .home_content_button{
    width: 100%;
  }
  aside{
    margin-top: 1rem;
  }
  .article_container{
    grid-template-columns: 1fr;
  }
  .mobile_menu{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 1rem;
    width: 60%;
    flex-direction: column;
    background: var(--off-white);
    height: 100%;
    gap: 2rem;
    transition: transform 0.3s;
    transform:translateX(0%);
  }
  .mobile_menu ul{
    display: flex;
    flex-direction: column;
    gap: 2rem; 
  }

  .close{
    width: 12%;
    cursor: pointer;
    margin-left: auto;
  }
  
}